.header {
  background-color: #3fa5da;
  height:100px
}
h4 {
  margin:0;
  padding:25px;
  font-size:22px;
}
.body {
  background-color: black;
  height:85vh;
  padding:10px;
}
.innerBox {
  background-color: #ebebeb;
  width:80%;
  margin:auto;
  margin-top:50px;
  padding:45px

}
h5 {
  margin:2px;
  font-size:22px;
  font-weight: 700;
  text-decoration: underline;
  position: relative;
  bottom: 19px;
}
p {
  margin:5px
}
h3 {
  padding:5px
}
button {
  background: black;
  color: white;
  border: 0px;
  padding: 10px;
  font-size: 20px;
}
.float {
  float: right;
}
.controlsDiv {
  width:85%;
  margin:auto
}
.span {
  float: right;
}